
/* This section provides "global definitions" e.g. to use the --jgs-font-size-data-enter value
   use font-size: var(--jgs-font-size-data-enter); 
 */
:root {
	--jgs-font-size-data-enter : 18px;
	--jgs-font-size-heading : 24px;
	--jgs-font-size-placeholder : 16px;
	--jgs-font-size-option : 18px;
	--jgs-font-size-option-label : 16px;
	--jgs-font-size-option-blank : 16px;
}
body {font-family: 'nunito'; font-weight: 300; text-rendering: auto;
    -webkit-font-smoothing: antialiased;}
.wrap {width: 100%; max-width: 1400px; margin: 3px auto; }
.wrap form input {font-size: var(--jgs-font-size-data-enter); padding: 5px 5px 3px 8px; border: 1px solid #cccccc;}
.wrap, img, input {
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.show-white-space {
    white-space: pre-wrap;
}
input {
    -webkit-border-radius:0; 
    border-radius:0;
    -webkit-appearance: none;
}

h3 {font-size: 20px; margin-bottom: 20px; font-weight: 700; text-align: center;}
h3 span {background: #fff; padding: 5px 12px; text-align: center; border-radius: 50%; margin: 0 20px 0 -20px;}

.info-section.inactive form {display: none;}

.Nothing {
	background-image: url("../Images/SchickDrainage.jpg");
}

.ActionLogon {
	width : 100%;
	height : 100%;
	
	background-repeat: no-repeat, repeat;
	background-position: center; /* Center the image */
   	background-size: cover; /* Resize the background image to cover the entire container */
   	
   	max-width: 300px;
}
.ActionLogo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 80%;
  	max-width: 200px;

}
.ActionLogonTable {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 80%;
  	max-width: 300px;

}

.ActionForm {
	width : 100%;
	height : 80%;
}

.ActionHeadingSection {
	width : 100%; 
	border: 1px solid #ccc;
	display: inline-block;
}

.ActionBackButton {
	float : left;
	width : 8%;
}
.ActionHomeButton {
	float : left;
	width : 100%;
	height : 100%;
}
.ActionHeading {
	float : left;
	text-align : left;
	color :  #DE4A10;
	width : 80%;
	padding : 5px;
	font-size : var(--jgs-font-size-heading);
}

.a_options {
	height:387px;
	width:24%;
  	overflow:auto;
  	border:0 solid green;
  	position:fixed;
	bottom : 20px;
}

.ActionMenu {
	float : right;
	vertical-align: top;
	cursor: pointer;
	width : 8%;
	max-width : 35px;
	
}

.ActionMenuBar1, .ActionMenuBar2, .ActionMenuBar3 {
 	width: 100%;
  	height: 5px;
  	background-color: #333;
  	margin: 6px 0;
  	transition: 0.4s;
}

.ActionMenuBarChange .ActionMenuBar1 {
  	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
  	transform: rotate(-45deg) translate(-9px, 6px);
}
.ActionMenuBarChange .ActionMenuBar2 {opacity: 0;}

.ActionMenuBarChange .ActionMenuBar3 {
  	-webkit-transform: rotate(45deg) translate(-8px, -8px);
  	transform: rotate(45deg) translate(-8px, -8px);
}


.ActionHeaderSticky {
  position: fixed;
  top: 0;
  width: 100%
}


.canSelect{
	cursor: pointer;
}

input[type=date] {
  float: center;
  padding-top: 0px;
  border: none;
  margin-top: 0px;
  margin-right: 16px;
  font-size: var(--jgs-font-size-data-enter);
  width : 50%;
  height : 15%;
  min-height: 30px;
}
input[type=time] {
  float: center;
  padding-top: 0px;
  border: none;
  margin-top: 0px;
  margin-right: 16px;
  font-size: var(--jgs-font-size-data-enter);
  width : 50%;
   height : 15%;
}

input[type=text], select, textarea {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 0px;
  resize: vertical;
  font-size: var(--jgs-font-size-data-enter);
}

input[type=password], select, textarea {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 0px;
  resize: vertical;
}

input {
    -webkit-border-radius:0; 
    border-radius:0;
}

input {
    -webkit-appearance: none;
}

input[type=submit]:active, input[type=submit]:focus {opacity: 0.1 !important; cursor: not-allowed !important;}

.clear {clear: both;}


::-webkit-input-placeholder {
    color:    #dddddd; font-weight: 300; font-size : var(--jgs-font-size-placeholder);
}
:-moz-placeholder {
    color:    #dddddd; font-weight: 300; font-size : var(--jgs-font-size-placeholder);
}
::-moz-placeholder {
    color:    #dddddd; font-weight: 300; font-size : var(--jgs-font-size-placeholder);
}
:-ms-input-placeholder {
    color:    #dddddd; font-weight: 300; font-size : var(--jgs-font-size-placeholder);
}

.ActionBigData {
	white-space: pre-wrap;
	width: 100%;
	 box-sizing: border-box;
	  border: 2px solid #ccc;
	  border-radius: 0px;
	  background-color: #f8f8f8;
	  resize: true;
	  font-size :var(--jgs-font-size-data-enter);
	  max-width: 95%;
}
.ActionBigData.textArea {
	rows : 10;
}

.ActionData {
	
	width: 100%;
	font-size : var(--jgs-font-size-data-enter);
	max-width: 95%;
}

.ActionQRCode {
	width : 100%
	height : 100%;
	max-width: 300px;
	padding : 20px;
	
	
}
/** select box css **/

.ActionOptions {
	display: inline-block;
	width : 100%;
	margin: auto auto auto 0;
}

.ActionFilter {
	width : 95%;
	background-color: #ffffff;
	 border: 1px;
	 border: 2px solid #ccc;
}


.ActionFilter input[type=text] {
  padding-top: 0px;
  border: 0px;
   margin-left : 2px;
   margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 0px;
  font-size: var(--jgs-font-size-data-enter);
 
  width : 80%;
}


.OptionFilter {
	float : right;
	display: inline-block;
	width : 6%;

}

.Option {
	padding: 0px 0px;
	margin: 0px;
	border: 1px solid #dddddd;
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: var(--jgs-font-size-option);
	background: #fff;
	width : 95%;
	min-height : 22px;
	cursor: pointer;
	padding-top: 0px ;
	padding-bottom: 0px ;
}

.Option_Next {
	padding: 0px 0px;
	margin: 0px;
    border: 1px solid #000000;
   	float : center; 
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
			font-size: 15px;
			 background: #999999;
	
	min-height : 30px;
	cursor: pointer;
	padding-top: 5px ;
	padding-bottom: 5px ;	
	font-size: var(--jgs-font-size-option);
    text-transform: uppercase;
    padding: 10px 20px 8px 20px;
   
    font-weight: bold;
    color : #FFFFFF;
    -webkit-font-smoothing: antialiased;
	text-align: center;
	max-width: 640px;
	margin: 30px auto 0;
	width: 100%;
	white-space: normal;
}
.Option_Next:disabled {
	background: #DDDDDD;
}
.Option_End {
	border: 3px solid #000000;
}
.Option_Indent {
	margin-left : 16px;
}

.Option_Label {
	border: 0px;
	font-size: var(--jgs-font-size-option-label);
	color: #FFFFFF;
	overflow: hidden;
	padding-top: 2px ;
	padding-bottom: 2px ;	
	width : 95%;
	vertical-align: middle;
	text-align : left;
	cursor: none;

}
.Option_Label_Show {
	color: #DE4A10;
}


.OptionSpecific {
	border: 1px solid #000000;
}


.Option_XBL, .Option_XBL_Blank {
	background-color: transparent;
	border: 0px;
	font-size: var(--jgs-font-size-option-blank);
	color: #DE4A10;
	overflow: hidden;
	padding-top: 5px ;
	padding-bottom: 5px ;	
	width : 95%;
	vertical-align: middle;
	text-align : left;
	cursor: none;
}
.Option_XBL_Blank{
	height:15px;
}
.Option_XBL_Indent {
	padding-left : 10px;
}
.Option_Inactive {
    background-color: #56baf4;
 }
 .Option_Selected {
    background-color: #AADDFF;
 }

.OptionCell0 {
	float : left;
	font-size: var(--jgs-font-size-option);	
	width : 4%;
	padding: 3px 5px;
	text-align : left;	
}

.OptionCellIcon_DOWN {
	background-image: url('../Images/Chevron.png');
	background-repeat: no-repeat;
	background-size: 15px 10px;
	background-position: left bottom;
	font-size: var(--jgs-font-size-option);
	display : table-cell;
	width : 15px;
	height : 10px;	
	margin-left : 5px;
	text-align : left;
	cursor: alias;
}


.OptionCellIcon_UP {
	background-image: url('../Images/ChevronUp.png');
	background-repeat: no-repeat;
	background-size: 10px 15px;
	background-position: left bottom;
	font-size: var(--jgs-font-size-option);
	display : table-cell;
	width : 10px;
	height : 15px;
	margin-left : 5px;
	text-align : left;
	cursor: alias;
}

.OptionIconCodeDesc{
	vertical-align : center;
	margin : 0px;
	float : left;
}

.OptionCellIcon {
	vertical-align : center;
	margin : 0px;
	float : left;
}


.OptionCellCode {
	font-size: var(--jgs-font-size-option);
	float : left;
	padding: 3px 5px;
	text-align : left;
	
}
.OptionCellDesc {
	font-size: var(--jgs-font-size-option);
	float : left;
	padding: 3px 5px;
	text-align : left;

}
.OptionCellNum {
	font-size: 14px;
	float : right;
	text-align : right;
	height : 100%;
	margin-right : 3px;
	
}
.OptionCellNum_Info {
	font-size: 14px;
	float : right;
	background-color: #CCCCCC;
	text-align : right;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	height : 100%;
	padding : 0px;
	margin-right : 3px;
}
.fa-hand-o-right:hover {
	cursor: crosshair;
}


#ERRORMESSAGE {
  visibility:hidden; /*  hidden  Hidden by default. Visible on click */
  width: 100%; /* Set a default minimum width */
  max-width: 640px;
  margin-left: 0px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 4px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 0%; /* Center the snackbar */
  bottom: 5px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#ERRORMESSAGE.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}




/* The sidepanel menu */

.Sidepanel {
  height: 90%; /* Specify a height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #999999; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  max-width : 640px;
}



.SideOption {
    padding: 8px 8px;
	margin: 0;
    border: 1px solid #008888;
    box-shadow: none;
    background-color: #002222;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
			font-size: 15px;
			 background: #fff;
	width : 90%;
	height : 10%;	
	cursor: pointer;
	padding-top: 5px ;
	padding-bottom: 5px ;	
	cursor: pointer;
}

.SideResult {
    padding: 8px 8px;
	margin: 10px;
    border: 1px solid #008888;
    box-shadow: none;
    background-color: #002222;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
			background: #fff;
	width : 90%;
	cursor: pointer;
	padding-top: 5px ;
	padding-bottom: 5px ;	
	cursor: pointer;
}



.SideOption_Indent {
	margin-left : 10px;
}


.SideOptionCell0 {
	font-size: 10px;
	width : 4%;
	padding: 3px 5px;
	text-align : left;
	
}

	

.Side_Home {
	width : 70%; 
	border: none;
	display: inline-block;
}

.Side_HomeText {
	position: absolute;
  	top: 20px;
	left : 10%;
	text-align : center;
	color :  #DE4A10;
	font-size: var(--jgs-font-size-heading);
	width : 80%;
		
}
.Side_HomeButton {
	float : left;
	height : 80%;
	padding : 5px;
}

.Side_Close {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: var(--jgs-font-size-heading);
  margin-left: 5px;
}

.SideOptionQuestion {
	font-size: var(--jgs-font-size-option);
	font-style:  bold;
	padding: 3px 5px;
	margin-left:  : 10%;
	text-align : left;
	
}
.SideOptionAnswer {
	font-size: var(--jgs-font-size-option);
	font-style:  italic;
	padding: 3px 5px;
	margin-left:  : 10%;
	text-align : right;
	
}



.SideOptionCell1 {
	font-size: var(--jgs-font-size-option);
	padding: 3px 5px;
	text-align : left;
	
}

.SideOptionCell2 {
	font-size: var(--jgs-font-size-option);
	padding: 3px 5px;
	text-align : left;
}



/* The sidepanel links */
.Sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: var(--jgs-font-size-option);
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.Sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */



/*amendments*/

#OPTIONS:after {content: ""; display: table; clear: both;}

.video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    width: 93%;
    object-fit: cover;
    max-width:  635px;
    
}
#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;
}
#camera--trigger{
    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 30px;
    left: calc(50% - 100px);
}
.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}



.wrap form input.form-cta-buttonOption {
    max-width: 60% !important; margin: 10px auto !important
}

.wrap form input.form-cta-button, #YESSTEP input, .wrap form input.form-cta-buttonOption {
    display: block;
    color: #fff;
    background: #37bbfe;
	font-size: 18px !important;
    border: 1px solid #37bbfe;
    text-transform: uppercase;
    padding: 10px 20px 8px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
	text-align: center;
	max-width: 300px;
	margin: 30px auto 0;
	width: 100%;
	cursor: pointer;
	white-space: normal;
}

.wrap form input.form-cta-button:hover, #YESSTEP input:hover, .wrap form input.form-cta-buttonOption:hover {opacity: 0.7 !important;}

#OPTIONS:after {content: ""; display: table; clear: both;}

.yesbutton, .nobutton, .yesbutton_w, .nobutton_w {
	display: inline-block;
    color: #fff;
    background: #37bbfe;
	font-size: var(--jgs-font-size-data-enter);
    border: 1px solid #37bbfe;
    text-transform: uppercase;
    padding: 10px 20px 8px 20px !important;
    border-radius: 5px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
	text-align: center;
	max-width: 300px;
	margin: 10px auto 0;
	width: 20%;
	cursor: pointer;
}

.wrap form input.form-cta-buttonOption.yesbutton, .wrap form input.form-cta-buttonOption.nobutton {max-width: 220px !important; display: inline-block !important;}

.yesbutton_w, .nobutton_w {max-width: 100% !important; width: auto !important;}

.cancelbutton {color: #fff; background: #cccccc; cursor: pointer; border-radius: 5px; padding: 10px 15px 8px 15px !important; margin-top: 20px; white-space: normal; text-transform: uppercase; font-size: 14px !important; }



.SA_Header {
		font-size: var(--jgs-font-size-heading);
		font-style:  bold;
		padding: 3px 5px;
		margin-left:  : 10%;
		text-align : left;
}